<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cncompute.dao.EntrustDao" >  
	<resultMap id="EntrustMap" type="com.cncompute.pojo.Entrust">
        	<id column="enid" property="enid" jdbcType="VARCHAR" />  
   		    <result column="entypeen" property="entypeen" jdbcType="VARCHAR" />  
        	<result column="enproject" property="enproject" jdbcType="VARCHAR" />  
        	<result column="enunit" property="enunit" jdbcType="VARCHAR"/>  
        	<result column="enuserid" property="enuserid" jdbcType="VARCHAR"/> 
            <result column="entime" property="entime" jdbcType="DATE" /> 
        	<result column="enstate" property="enstate" jdbcType="INTEGER"/> 
	</resultMap>
	<!-- 插入表信息 -->
	<insert id="enInsert" parameterType="Entrust">
	INSERT INTO entrust 
	(enid,entypeen,enproject,enunit,enuserid,
	 entime,enstate
	) 
	VALUES 
	(#{enid},#{entypeen},#{enproject},#{enunit},#{enuserid},
	 now(),#{enstate})
	 </insert>
	 
	 <!-- 查询全部信息 -->
	<select id="enQuery" resultMap="EntrustMap">
	SELECT * FROM entrust 
	WHERE enstate='1' ORDER BY entime DESC
	</select>
	 <!-- 根据ID查询单位全部信息 -->
	<select id="enid" resultMap="EntrustMap">
	SELECT * FROM entrust 
	WHERE enid=#{enid}
	</select>
</mapper>  