<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cncompute.dao.ProtectionfileDao" >  
	<resultMap id="ProtectionfileMap" type="com.cncompute.pojo.Protectionfile">
        	<id column="prid" property="prid" jdbcType="VARCHAR" />  
   		    <result column="prname" property="prname" jdbcType="VARCHAR" />  
        	<result column="pruserid" property="pruserid" jdbcType="VARCHAR" />  
        	<result column="prtime" property="prtime" jdbcType="DATE"/>  
        	<result column="prstate" property="prstate" jdbcType="INTEGER"/> 
        	
        	<!-- 许可证表实现类  -->
        	<association property="license" javaType="com.cncompute.pojo.License" column="prid" >
        	<id column="liid" property="liid" jdbcType="VARCHAR" />  
			<result column="liunit" property="liunit" jdbcType="VARCHAR" />  
        	<result column="linumber" property="linumber" jdbcType="VARCHAR" />  
        	<result column="lidate" property="lidate" jdbcType="VARCHAR"/>  
        	<result column="livalidity" property="livalidity" jdbcType="VARCHAR"/> 
        	<result column="lispeciesid" property="lispeciesid" jdbcType="VARCHAR"/> 
        	<result column="licertificateid" property="licertificateid" jdbcType="VARCHAR"/> 
        	<result column="litime" property="litime" jdbcType="DATE"/> 
        	<result column="liuserid" property="liuserid" jdbcType="VARCHAR"/> 
        	<result column="listate" property="listate" jdbcType="INTEGER"/> 
		    </association>
		    
		    <!-- 环境影响评价文件批复 -->
        	<association property="environmental" javaType="com.cncompute.pojo.Environmental" column="prid" >
        	<id column="enid" property="enid" jdbcType="VARCHAR" />  
			<result column="enunit" property="enunit" jdbcType="VARCHAR" />  
        	<result column="enfile" property="enfile" jdbcType="VARCHAR" />  
        	<result column="enfileno" property="enfileno" jdbcType="VARCHAR"/>  
        	<result column="endate" property="endate" jdbcType="VARCHAR"/> 
        	<result column="enelectronic" property="enelectronic" jdbcType="VARCHAR"/> 
        	<result column="entime" property="entime" jdbcType="DATE"/> 
        	<result column="enuserid" property="enuserid" jdbcType="VARCHAR"/> 
        	<result column="enstate" property="enstate" jdbcType="INTEGER"/> 
		    </association>
		    
		    <!-- 环保竣工验收监测文件批复 -->
        	<association property="completionreply" javaType="com.cncompute.pojo.Completionreply" column="prid" >
        	<id column="coid" property="coid" jdbcType="VARCHAR" />  
			<result column="counit" property="counit" jdbcType="VARCHAR" />  
        	<result column="cofile" property="cofile" jdbcType="VARCHAR" />  
        	<result column="cofileno" property="cofileno" jdbcType="VARCHAR"/>  
        	<result column="codate" property="codate" jdbcType="VARCHAR"/> 
        	<result column="coelectronic" property="coelectronic" jdbcType="VARCHAR"/> 
        	<result column="cotime" property="cotime" jdbcType="DATE"/> 
        	<result column="cousrid" property="cousrid" jdbcType="VARCHAR"/> 
        	<result column="costate" property="costate" jdbcType="INTEGER"/> 
		    </association>
		    
		    <!-- 许可种类与范围  -->
        	<association property="typelicense" javaType="com.cncompute.pojo.Typelicense" column="prid" >
        	<id column="tyid" property="tyid" jdbcType="VARCHAR" />  
			<result column="tynumber" property="tynumber" jdbcType="VARCHAR" />  
        	<result column="tychoose1" property="tychoose1" jdbcType="INTEGER" />  
        	<result column="tychoose2" property="tychoose2" jdbcType="INTEGER"/>  
        	<result column="tychoose3" property="tychoose3" jdbcType="INTEGER"/> 
        	<result column="tychoose4" property="tychoose4" jdbcType="INTEGER"/> 
        	<result column="tychoose5" property="tychoose5" jdbcType="INTEGER"/> 
        	<result column="tychoose6" property="tychoose6" jdbcType="INTEGER"/> 
        	<result column="tychoose7" property="tychoose7" jdbcType="INTEGER"/> 
        	<result column="tychoose8" property="tychoose8" jdbcType="INTEGER"/> 
        	<result column="tychoose9" property="tychoose9" jdbcType="INTEGER"/> 
        	<result column="tychoose10" property="tychoose10" jdbcType="INTEGER"/> 
        	<result column="tychoose11" property="tychoose11" jdbcType="INTEGER"/> 
        	<result column="tychoose12" property="tychoose12" jdbcType="INTEGER"/> 
        	<result column="tychoose13" property="tychoose13" jdbcType="INTEGER"/> 
        	<result column="tychoose14" property="tychoose14" jdbcType="INTEGER"/> 
        	<result column="tychoose15" property="tychoose15" jdbcType="INTEGER"/> 
        	<result column="tychoose16" property="tychoose16" jdbcType="INTEGER"/> 
        	<result column="tychoose17" property="tychoose17" jdbcType="INTEGER"/> 
        	<result column="tychoose18" property="tychoose18" jdbcType="INTEGER"/> 
        	<result column="tychoose19" property="tychoose19" jdbcType="INTEGER"/> 
        	<result column="tychoose20" property="tychoose20" jdbcType="INTEGER"/> 
        	<result column="tychoose21" property="tychoose21" jdbcType="INTEGER"/> 
        	<result column="tychoose22" property="tychoose22" jdbcType="INTEGER"/> 
        	<result column="tychoose23" property="tychoose23" jdbcType="INTEGER"/> 
        	<result column="tychoose24" property="tychoose24" jdbcType="INTEGER"/> 
        	<result column="tychoose25" property="tychoose25" jdbcType="INTEGER"/> 
        	<result column="tychoose26" property="tychoose26" jdbcType="INTEGER"/> 
        	<result column="tychoose27" property="tychoose27" jdbcType="INTEGER"/> 
        	<result column="tyuserid" property="tyuserid" jdbcType="VARCHAR"/> 
        	<result column="tytime" property="tytime" jdbcType="DATE"/> 
        	<result column="tystaty" property="tystaty" jdbcType="INTEGER"/> 
		    </association>
	</resultMap>
	
	<!-- 查询环保手续文件全部信息 -->
	<select id="prall" resultMap="ProtectionfileMap">
	SELECT *FROM protectionfile WHERE prstate='1' ORDER BY  prtime DESC
	</select>
	
	<!-- 模糊查询 -->
	<select id="fuzzyProt" resultMap="ProtectionfileMap">
	 SELECT * FROM  protectionfile 
     WHERE  CONCAT(prname) LIKE CONCAT(CONCAT("%",#{name}),"%") AND prstate='1' ORDER BY  prtime DESC
	</select>
	
	<!-- 添加环保手续文件 -->
	<insert id="pradd" parameterType="Protectionfile">
	INSERT INTO protectionfile 
	(prid,prname,pruserid,prtime,prstate) 
	VALUES 
	(#{prid},#{prname},#{pruserid},now(),#{prstate})
	</insert>
	
	<!-- 添加许可证表内容 -->
	<insert id="liceadd" parameterType="License">
	INSERT INTO license (liid) VALUES (#{liid})
	</insert>
	
	<!-- 添加环境影响评价文件批复 -->
	<insert id="enviadd" parameterType="Environmental">
	INSERT INTO environmental (enid) VALUES (#{enid})
	</insert>
	
	<!-- 添加环保竣工验收监测文件批复 -->
	<insert id="compadd" parameterType="Completionreply">
	INSERT INTO completionreply (coid) VALUES (#{coid})
	</insert>
	
	<!-- 添加许可种类与范围 -->
	<insert id="peliadd" parameterType="com.cncompute.pojo.Typelicense">
	INSERT INTO typelicense (tyid) VALUES (#{tyid})
	</insert>
	
	<!-- 根据liid查询License表信息 -->
	<select id="liQuery" resultMap="ProtectionfileMap">
	SELECT l.liunit,l.linumber,l.lidate,l.livalidity,l.lispeciesid,l.licertificateid,l.liid
	FROM protectionfile p left join license l
	ON p.prid=l.liid 
	WHERE l.liid=#{liid} AND p.prstate='1' ORDER BY l.litime DESC	
	</select>
	
	<!-- 根据enid查询environmental表信息 -->
	<select id="enQuery" resultMap="ProtectionfileMap">
	SELECT e.enunit,e.enfile,e.enfileno,e.endate,e.enelectronic,e.enid
	FROM protectionfile p left join environmental e
	ON p.prid=e.enid 
	WHERE e.enid=#{enid} AND p.prstate='1' ORDER BY e.entime DESC	
	</select>
	
    <!-- 根据coid查询completionreply表信息 -->
	<select id="coQuery" resultMap="ProtectionfileMap">
	SELECT c.coid,c.counit,c.cofile,c.cofileno,c.codate,c.coelectronic
	FROM protectionfile p left join completionreply c
	ON p.prid=c.coid 
	WHERE c.coid=#{coid} AND p.prstate='1' ORDER BY c.cotime DESC	
	</select>
	
	<!-- 修改 许可证表内容-->
    <update id="updateLice"  parameterType="com.cncompute.pojo.License">
    update license <set> 
    <if test="liunit!=null">liunit=#{liunit},</if>
    <if test="linumber!=null">linumber=#{linumber},</if>
    <if test="lidate!=null">lidate=#{lidate},</if>
    <if test="livalidity!=null">livalidity=#{livalidity},</if>
    <if test="lispeciesid!=null">lispeciesid=#{lispeciesid},</if>
    <if test="licertificateid!=null">licertificateid=#{licertificateid},</if>
    <if test="listate!=null">listate=#{listate}</if>
    </set> WHERE liid=#{liid}
	</update> 
	
	<!-- 修改 环境影响评价文件批复 -->
    <update id="updateEnvi"  parameterType="com.cncompute.pojo.Environmental">
    update environmental <set> 
    <if test="enid!=null">enid=#{enid},</if>
    <if test="enunit!=null">enunit=#{enunit},</if>
    <if test="enfile!=null">enfile=#{enfile},</if>
    <if test="endate!=null">endate=#{endate},</if>
    <if test="enfileno!=null">enfileno=#{enfileno},</if>
    <if test="enelectronic!=null">enelectronic=#{enelectronic},</if>
    <if test="enstate!=null">enstate=#{enstate}</if>
    </set> WHERE enid=#{enid}
	</update> 
	
	<!-- 修改 环保竣工验收监测文件批复-->
    <update id="updateComp"  parameterType="com.cncompute.pojo.Completionreply">
    update completionreply <set> 
    <if test="coid!=null">coid=#{coid},</if>
    <if test="counit!=null">counit=#{counit},</if>
    <if test="cofile!=null">cofile=#{cofile},</if>
    <if test="cofileno!=null">cofileno=#{cofileno},</if>
    <if test="codate!=null">codate=#{codate},</if>
    <if test="coelectronic!=null">coelectronic=#{coelectronic},</if>
    <if test="costate!=null">costate=#{costate}</if>
    </set> WHERE coid=#{coid}
	</update> 
	
	<!-- 根据prid查询环保手续文件全部信息 -->
	<select id="queryAll" resultMap="ProtectionfileMap">
	SELECT
	l.liunit,l.linumber,l.lidate,l.livalidity,l.lispeciesid,l.licertificateid,l.liid,
	e.enunit,e.enfile,e.enfileno,e.endate,e.enelectronic,e.enid,
	c.coid,c.counit,c.cofile,c.cofileno,c.codate,c.coelectronic
	FROM protectionfile p 
	LEFT JOIN license l ON p.prid=l.liid 
	LEFT JOIN environmental e ON p.prid=e.enid
	LEFT JOIN completionreply c ON p.prid=c.coid 
	WHERE p.prid=#{prid} AND p.prstate='1' ORDER BY e.entime DESC
	</select>
	
	<!-- 修改环保手续文件实现类  -->
	<update id="updateProt" parameterType="com.cncompute.pojo.Protectionfile">
	update protectionfile <set>
	<if test="prname!=null">prname=#{prname},</if>
	<if test="prstate!=null">prstate=#{prstate}</if>
	</set> WHERE prid=#{prid}
	</update>
	
	<!-- 通过ID查询环保手续文件全部信息 -->
	<select id="prIdall" resultMap="ProtectionfileMap">
	SELECT *FROM protectionfile WHERE prid=#{prid} AND prstate='1' ORDER BY  prtime DESC
	</select>
	
	<!-- 修改 许可种类与范围-->
    <update id="updateTypeli"  parameterType="com.cncompute.pojo.Typelicense">
    update typelicense <set> 
    <if test="tynumber!=null">tynumber=#{tynumber},</if>
    <if test="tychoose1!=null">tychoose1=#{tychoose1},</if><if test="tychoose1==null">tychoose1=0,</if>
    <if test="tychoose2!=null">tychoose2=#{tychoose2},</if><if test="tychoose2==null">tychoose2=0,</if>
    <if test="tychoose3!=null">tychoose3=#{tychoose3},</if><if test="tychoose3==null">tychoose3=0,</if>
    <if test="tychoose4!=null">tychoose4=#{tychoose4},</if><if test="tychoose4==null">tychoose4=0,</if>
    <if test="tychoose5!=null">tychoose5=#{tychoose5},</if><if test="tychoose5==null">tychoose5=0,</if>
    <if test="tychoose6!=null">tychoose6=#{tychoose6},</if><if test="tychoose6==null">tychoose6=0,</if>
    <if test="tychoose7!=null">tychoose7=#{tychoose7},</if><if test="tychoose7==null">tychoose7=0,</if>
    <if test="tychoose8!=null">tychoose8=#{tychoose8},</if><if test="tychoose8==null">tychoose8=0,</if>
    <if test="tychoose9!=null">tychoose9=#{tychoose9},</if><if test="tychoose9==null">tychoose9=0,</if>
    <if test="tychoose10!=null">tychoose10=#{tychoose10},</if><if test="tychoose10==null">tychoose10=0,</if>
    <if test="tychoose11!=null">tychoose11=#{tychoose11},</if><if test="tychoose11==null">tychoose11=0,</if>
    <if test="tychoose12!=null">tychoose12=#{tychoose12},</if><if test="tychoose12==null">tychoose12=0,</if>
    <if test="tychoose13!=null">tychoose13=#{tychoose13},</if><if test="tychoose13==null">tychoose13=0,</if>
    <if test="tychoose14!=null">tychoose14=#{tychoose14},</if><if test="tychoose14==null">tychoose14=0,</if>
    <if test="tychoose15!=null">tychoose15=#{tychoose15},</if><if test="tychoose15==null">tychoose15=0,</if>
    <if test="tychoose16!=null">tychoose16=#{tychoose16},</if><if test="tychoose16==null">tychoose16=0,</if>
    <if test="tychoose17!=null">tychoose17=#{tychoose17},</if><if test="tychoose17==null">tychoose17=0,</if>
    <if test="tychoose18!=null">tychoose18=#{tychoose18},</if><if test="tychoose18==null">tychoose18=0,</if>
    <if test="tychoose19!=null">tychoose19=#{tychoose19},</if><if test="tychoose19==null">tychoose19=0,</if>
    <if test="tychoose20!=null">tychoose20=#{tychoose20},</if><if test="tychoose20==null">tychoose20=0,</if>
    <if test="tychoose21!=null">tychoose21=#{tychoose21},</if><if test="tychoose21==null">tychoose21=0,</if>
    <if test="tychoose22!=null">tychoose22=#{tychoose22},</if><if test="tychoose22==null">tychoose22=0,</if>
    <if test="tychoose23!=null">tychoose23=#{tychoose23},</if><if test="tychoose23==null">tychoose23=0,</if>
    <if test="tychoose24!=null">tychoose24=#{tychoose24},</if><if test="tychoose24==null">tychoose24=0,</if>
    <if test="tychoose25!=null">tychoose25=#{tychoose25},</if><if test="tychoose25==null">tychoose25=0,</if>
    <if test="tychoose26!=null">tychoose26=#{tychoose26},</if><if test="tychoose26==null">tychoose26=0,</if>
    <if test="tychoose27!=null">tychoose27=#{tychoose27},</if><if test="tychoose27==null">tychoose27=0,</if>
    <if test="tyuserid!=null">tyuserid=#{tyuserid},</if>
    <if test="tytime!=null">tytime=#{tytime},</if>
    <if test="tystaty!=null">tystaty=#{tystaty}</if>
    </set> WHERE tyid=#{tyid}
	</update>
	
	<!-- 查询许可种类与范围 -->
	<select id="queryTypeall" resultMap="ProtectionfileMap">
	SELECT
	t.tyid,t.tynumber,
    t.tychoose1,t.tychoose2,t.tychoose3,t.tychoose4,t.tychoose5,
    t.tychoose6,t.tychoose7,t.tychoose8,t.tychoose9,t.tychoose10,
    t.tychoose11,t.tychoose12,t.tychoose13,t.tychoose14,t.tychoose15,
    t.tychoose16,t.tychoose17,t.tychoose18,t.tychoose19,t.tychoose20,
    t.tychoose21,t.tychoose22,t.tychoose23,t.tychoose24,t.tychoose25,
    t.tychoose26,t.tychoose27,t.tyuserid,t.tytime,t.tystaty
	FROM protectionfile p 
	LEFT JOIN typelicense t ON p.prid=t.tyid 
	WHERE t.tyid=#{tyid} AND p.prstate='1' 
	</select>
</mapper>  