<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cncompute.dao.UserDao">
	<resultMap id="userMap" type="com.cncompute.pojo.User">
		<id column="userid" property="userid" />
		<result column="password" property="password" />
		<result column="username" property="username" />
		<result column="permissions" property="permissions" />
		<result column="usertime" property="usertime" />
		<result column="question" property="question" />
		<result column="answer" property="answer" />
		<result column="updatetime" property="updatetime" />
		<result column="userstate" property="userstate" />
	</resultMap>
	 <!-- 根据用户ID查询用户-->
	<select id="getUserAll" parameterType="String" resultMap="userMap">
		SELECT * from user where userid=#{userid} and userstate='1'
	</select>
	<!--查询所有信息 -->
	<select id="AllUser" resultMap="userMap">
		select * FROM user where userstate='1' ORDER BY usertime DESC
	</select>
	
	<!--查询管理员账号有多少 -->
	<select id="userPermissions" resultMap="userMap">
		select * FROM user where userstate='1' AND permissions='1' ORDER BY usertime DESC
	</select>
	<!-- 创建新用户-->
	<insert id="addUser" parameterType="User">
		INSERT INTO user
		(userid,password,username,permissions,usertime,question,answer,updatetime,userstate)
		VALUES
		(#{userid},#{password},#{username},#{permissions},#{usertime},#{question},#{answer},#{updatetime},#{userstate})
	</insert>
	<!-- 修改 密码-->
    <update id="modify"  parameterType="User">
    update user <set> 
    <if test="password!=null">password=#{password}</if>
    </set>  WHERE userid=#{userid}
	</update>
	
	<!-- 修改用户信息-->
    <update id="updateUsers"  parameterType="com.cncompute.pojo.User">
    update user <set> 
    <if test="userid!=null">userid=#{userid},</if>
    <if test="password!=null">password=#{password},</if>
    <if test="username!=null">username=#{username},</if>
    <if test="permissions!=null">permissions=#{permissions},</if>
    <if test="question!=null">question=#{question},</if>
    <if test="answer!=null">answer=#{answer},</if>
    <if test="userstate!=null">userstate=#{userstate}</if>
    </set>  WHERE userid=#{userid}
	</update>
	
	<!-- 模糊查询 -->
	<select id="fuzzyUser" resultMap="userMap">
	 SELECT * FROM  user 
     WHERE  CONCAT(userid,username) LIKE CONCAT(CONCAT("%",#{name}),"%") AND userstate='1' ORDER BY usertime DESC
	</select>
</mapper>  