<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cssmoban</title>
    <!-- Bootstrap Styles-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->

    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="js/Lightweight-Chart/cssCharts.css"> 
</head>

<body style="padding:10px">
    <div id="wrapper">


        <!-- /. NAV SIDE  -->
      
		<div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
                             <small>许可种类与范围</small>
                        </h1>								
		          </div>				
                    <form   method="post" enctype="multipart/form-data" id="formid">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="table-responsive">		
								<input type="hidden" th:value="${typeli.typelicense.tyid}" name="tyid" id="tyid"/>
								<input type="button" class="btn btn-default"  value="保存" onclick="submitFunction()">
								<div id="index" style="text-align:center;color:red"></div>
                                    <table class="table table-striped table-bordered table-hover" id = "test">
										<tbody>
                                            <tr>
                                                <th rowspan="8"><br></br><br></br>应<br></br>用<br></br>类<br></br>型</th>
												<th rowspan="2">放射源</th>
												<td><input type="checkbox" value="1" name="tychoose1" th:if="${typeli.typelicense.tychoose1!=1}" ><input type="checkbox" value="1" name="tychoose1" th:if="${typeli.typelicense.tychoose1==1}" checked="checked">销售</td>
												<td>
												    <input type="checkbox" value="1" name="tychoose2" th:if="${typeli.typelicense.tychoose2!=1}"><input type="checkbox"   value="1"  name="tychoose2" th:if="${typeli.typelicense.tychoose2==1}" checked="checked">Ⅰ类
												    <input type="checkbox" value="1" name="tychoose3" th:if="${typeli.typelicense.tychoose3!=1}"><input type="checkbox"   value="1"  name="tychoose3" th:if="${typeli.typelicense.tychoose3==1}" checked="checked">Ⅱ类
												    <input type="checkbox" value="1" name="tychoose4" th:if="${typeli.typelicense.tychoose4!=1}"><input type="checkbox"   value="1"  name="tychoose4" th:if="${typeli.typelicense.tychoose4==1}" checked="checked">Ⅲ类
												    <input type="checkbox" value="1" name="tychoose5" th:if="${typeli.typelicense.tychoose5!=1}"><input type="checkbox"   value="1"  name="tychoose5" th:if="${typeli.typelicense.tychoose5==1}" checked="checked">Ⅳ类
												    <input type="checkbox" value="1" name="tychoose6" th:if="${typeli.typelicense.tychoose6!=1}"><input type="checkbox"   value="1"  name="tychoose6" th:if="${typeli.typelicense.tychoose6==1}" checked="checked">Ⅴ类
												</td>
                                            </tr>
                                            <tr>
												<td><input type="checkbox" value="1" name="tychoose7" th:if="${typeli.typelicense.tychoose7!=1}"><input type="checkbox"   value="1"  name="tychoose7" th:if="${typeli.typelicense.tychoose7==1}" checked="checked">使用</td>
												<td>
												    <input type="checkbox" value="1" name="tychoose8" th:if="${typeli.typelicense.tychoose8!=1}"><input type="checkbox" value="1" name="tychoose8" th:if="${typeli.typelicense.tychoose8==1}" checked="checked">Ⅰ类（医疗使用）
												    <input type="checkbox" value="1" name="tychoose9" th:if="${typeli.typelicense.tychoose9!=1}"><input type="checkbox" value="1" name="tychoose9" th:if="${typeli.typelicense.tychoose9==1}" checked="checked">Ⅱ类
												    <input type="checkbox" value="1" name="tychoose10" th:if="${typeli.typelicense.tychoose10!=1}"><input type="checkbox" value="1" name="tychoose10" th:if="${typeli.typelicense.tychoose10==1}" checked="checked">Ⅲ类
												    <input type="checkbox" value="1" name="tychoose11" th:if="${typeli.typelicense.tychoose11!=1}"><input type="checkbox" value="1" name="tychoose11" th:if="${typeli.typelicense.tychoose11==1}" checked="checked">Ⅳ类
												    <input type="checkbox" value="1" name="tychoose12" th:if="${typeli.typelicense.tychoose12!=1}"><input type="checkbox" value="1" name="tychoose12" th:if="${typeli.typelicense.tychoose12==1}" checked="checked">Ⅴ类
												</td>
                                            </tr>
                                            <tr>
												<th rowspan="3">非密封放射性物质</th>
												<td>
												    <input type="checkbox" value="1" name="tychoose14" th:if="${typeli.typelicense.tychoose14!=1}"><input type="checkbox" value="1" name="tychoose14" th:if="${typeli.typelicense.tychoose14==1}" checked="checked">制备PET用放射性药物
												</td>
                                            </tr>
                                            <tr>
												<td><input type="checkbox" value="1" name="tychoose15" th:if="${typeli.typelicense.tychoose15!=1}"><input type="checkbox" value="1" name="tychoose15" th:if="${typeli.typelicense.tychoose15==1}" checked="checked">销售</td>
												<td>/</td>
                                            </tr>
                                            <tr>
												<td><input type="checkbox" value="1" name="tychoose16" th:if="${typeli.typelicense.tychoose16!=1}"><input type="checkbox" value="1" name="tychoose16" th:if="${typeli.typelicense.tychoose16==1}" checked="checked">使用</td>
												<td>
												    <input type="checkbox" value="1" name="tychoose17" th:if="${typeli.typelicense.tychoose17!=1}"><input type="checkbox" value="1" name="tychoose17" th:if="${typeli.typelicense.tychoose17==1}" checked="checked">乙
												    <input type="checkbox" value="1" name="tychoose18" th:if="${typeli.typelicense.tychoose18!=1}"><input type="checkbox" value="1" name="tychoose18" th:if="${typeli.typelicense.tychoose18==1}" checked="checked">丙
												</td>
                                            </tr>
											<tr>
												<th rowspan="3">射线装置</th>
												<td><input type="checkbox" value="1" name="tychoose19" th:if="${typeli.typelicense.tychoose19!=1}"><input type="checkbox" value="1" name="tychoose19" th:if="${typeli.typelicense.tychoose19==1}" checked="checked">生产</td>
												<td>
												    <input type="checkbox" value="1" name="tychoose20" th:if="${typeli.typelicense.tychoose20!=1}"><input type="checkbox" value="1" name="tychoose20" th:if="${typeli.typelicense.tychoose20==1}" checked="checked">Ⅱ类
												    <input type="checkbox" value="1" name="tychoose21" th:if="${typeli.typelicense.tychoose21!=1}"><input type="checkbox" value="1" name="tychoose21" th:if="${typeli.typelicense.tychoose21==1}" checked="checked">Ⅲ类
												</td>
                                            </tr>
                                            <tr>
												<td><input type="checkbox" value="1" name="tychoose22" th:if="${typeli.typelicense.tychoose22!=1}"><input type="checkbox" value="1" name="tychoose22" th:if="${typeli.typelicense.tychoose22==1}" checked="checked">销售</td>
												<td>
												    <input type="checkbox" value="1" name="tychoose23" th:if="${typeli.typelicense.tychoose23!=1}"><input type="checkbox" value="1" name="tychoose23" th:if="${typeli.typelicense.tychoose23==1}" checked="checked">Ⅱ类
												    <input type="checkbox" value="1" name="tychoose24" th:if="${typeli.typelicense.tychoose24!=1}"><input type="checkbox" value="1" name="tychoose24" th:if="${typeli.typelicense.tychoose24==1}" checked="checked">Ⅲ类
												</td>
                                            </tr>
                                            <tr>
												<td><input type="checkbox" value="1" name="tychoose25" th:if="${typeli.typelicense.tychoose25!=1}"><input type="checkbox" value="1" name="tychoose25" th:if="${typeli.typelicense.tychoose25==1}" checked="checked">使用</td>
												<td>
												    <input type="checkbox" value="1" name="tychoose26" th:if="${typeli.typelicense.tychoose26!=1}"><input type="checkbox" value="1" name="tychoose26" th:if="${typeli.typelicense.tychoose26==1}" checked="checked">Ⅱ类
												    <input type="checkbox" value="1" name="tychoose27" th:if="${typeli.typelicense.tychoose27!=1}"><input type="checkbox" value="1" name="tychoose27" th:if="${typeli.typelicense.tychoose27==1}" checked="checked">Ⅲ类
												</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                         </form>
											
					 <div class="panel panel-default">
                        </div>

                </div>
				
                <!-- /. ROW  -->
			

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="js/bootstrap.min.js"></script>
	 
    <!-- Metis Menu Js -->
    <script src="js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="js/morris/raphael-2.1.0.min.js"></script>
    <script src="js/morris/morris.js"></script>
	
	
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	
	 <script src="js/Lightweight-Chart/jquery.chart.js"></script>
	
    <!-- Custom Js -->
    <script src="js/custom-scripts.js"></script>
      <script>
      
      
      function submitFunction() {
  	    //这里唯一需要注意的就是这个form-add的id
  	    var tyid = $("#tyid").val();
  	    var formData = new FormData($("#formid")[0]);
  	    $.ajax({
  	        //接口地址
  	        url: '/prtypepost',
  	        type: 'POST',
  	        data: formData,
  	        async: false,
  	        cache: false,
  	        contentType: false,
  	        processData: false,
  	        success: function (data) {
  	            //成功的回调
  	            if(data== 1){
                      alert("保存成功");
                      window.location.href='/prlic?type='+tyid;//
  	            }else if(data== 2){
  	            	$("#index").html("请检测数量格式是否正确");
  	            }else if(data== 3){
  	            	$("#index").html("请填写日期");
  	            }
  	        },
  	        error: function (returndata) {
  	           //请求异常的回调
  	           modals.warn("网络访问失败，请稍后重试!");
  	        }
  	    });
  	    }
      </script>

</body>

</html>