<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cssmoban</title>
    <!-- Bootstrap Styles-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->

    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="js/Lightweight-Chart/cssCharts.css"> 
</head>

<body style="padding:10px">
    <div id="wrapper">

        <!-- /. NAV SIDE  -->
      
		<div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
                             <small >环保手续文件</small>
                        </h1>								
		</div>				
				
			 				   				

	          <div class="panel panel-default">
                            <div class="panel-heading">
                                许可证
                            </div> 
                            <div class="panel-body">
                                <div class="table-responsive">
								 <div id="index" style="text-align:center;color:red"></div>
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td>发证单位</td>
                                                <td>许可证编号</td>
                                                <td>发证日期</td>
												<td>有限期</td>
												<td>许可证电子版导入</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="reducedfrom" th:text="${prall.license.liunit}" ></span></td>
                                                <td><span class="reducedfrom" th:text="${prall.license.linumber}" ></span></td>
												<td><span class="reducedfrom" th:text="${prall.license.lidate}" ></span></td>
												<td><span class="reducedfrom" th:text="${prall.license.livalidity}" ></span></td>
												<td><a th:href="@{/onpage(page=${prall.license.licertificateid})}">下载文件</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
               </div>
			   
			   <div class="panel panel-default">
                            <div class="panel-heading">
                                环境影响评价文件批复
                            </div> 
                            <div class="panel-body">
                                <div class="table-responsive">
								 <div id="index" style="text-align:center;color:red"></div>
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td>审批单位</td>
                                                <td>批复文件名称</td>
                                                <td>批复文件号</td>
												<td>批复日期</td>
												<td>批复文件电子版导入</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr  >
                                                <td><span class="reducedfrom" th:text="${prall.environmental.enunit}" ></span></td>
                                                <td><span class="reducedfrom" th:text="${prall.environmental.enfile}" ></span></td>
												<td><span class="reducedfrom" th:text="${prall.environmental.enfileno}" ></span></td>
												<td><span class="reducedfrom" th:text="${prall.environmental.endate}" ></span></td>
												<td><a th:href="@{/onpage(page=${prall.environmental.enelectronic})}">下载文件</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
               </div>
			   
			   
			   <div class="panel panel-default">
                            <div class="panel-heading">
                              环保竣工验收监测文件批复
                            </div> 
                            <div class="panel-body">
                                <div class="table-responsive">
								 <div id="index" style="text-align:center;color:red"></div>
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <td>审批单位</td>
                                                <td>批复文件名称</td>
                                                <td>批复文件号</td>
												<td>批复日期</td>
												<td>批复文件电子版导入</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr >
                                                <td><span class="reducedfrom" th:text="${prall.completionreply.counit}" ></span></td>
                                                <td><span class="reducedfrom" th:text="${prall.completionreply.cofile}" ></span></td>
												<td><span class="reducedfrom" th:text="${prall.completionreply.cofileno}" ></span></td>
												<td><span class="reducedfrom" th:text="${prall.completionreply.codate}" ></span></td>
												<td><a th:href="@{/onpage(page=${prall.completionreply.coelectronic})}">下载文件</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
               </div>
			   
                </div>
                <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="js/bootstrap.min.js"></script>	 
    <!-- Metis Menu Js -->
    <script src="js/jquery.metisMenu.js"></script>
	
	
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	
	 <script src="js/Lightweight-Chart/jquery.chart.js"></script>
	
    <!-- Custom Js -->
    <script src="js/custom-scripts.js"></script>

      <script>
      function del(onnum){
    	  var r = confirm("确定要删除吗？");
    	  if(r == true){
    	  window.location.href="/onendelete?onnum="+onnum;
    	  }else{
    	  return false;
    	  }
    	  }
      
	   function index1(nodata){
	　　       var nodata=nodata;
	       $.get(
	   	    	"/onpage",
	   	    	{
	   	    		nodata:nodata,
	   	    	},function(data){
	   	            if(data.index==1){
	   	            	
	   	            	$("#index").html("没有上传文件");
	   	            }else if(data.index==2){
	   	            	$("#index").html("账号不存在");
	   	            }else if(data.index==0){
	   	            window.location.href='/main';//
	   	            }     
	   	    	},"json");  
	        }
      </script>

</body>

</html>