<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cssmoban</title>
    <!-- Bootstrap Styles-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="js/Lightweight-Chart/cssCharts.css"> 
</head>

<body style="padding:10px">
    <div id="wrapper">
        <!-- /. NAV SIDE  -->
		<div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
                             <small >用户管理</small>
                        </h1>								
		</div>				
	  <div class="panel panel-default">
                            <div class="panel-heading">
                                 用户详情
                            </div> 
                            <div class="panel-body">
                                <div class="table-responsive">
                                <form class="form-inline" th:action="@{/userfuzzy}" method="get" style="margin-bottom:10px">
                                <button type="submit" class="btn btn-default" style="float:right;margin-right:10px">查询</button>
                                <input type="text" class="form-control" name="name" id="name" th:value="${name}" style="float:right;margin-right:10px;" >
                                </form>
                                    <table class="table table-striped table-bordered table-hover">
   
                                        <thead>
                                            <tr>
                                                <th>用户登录ID</th>
                                                <th>密码</th>
                                                <th>姓名</th>
												<th>权限</th>
												<th>找回密码问题</th>
                                                <th>找回密码答案</th>
												<th th:if="${session.user.permissions==1}">删除/修改</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr  th:each="users:${userall}">
                                                <td><span class="reducedfrom" th:text="${users.userid}" ></span></td>
                                                <td><span class="reducedfrom" th:text="${users.password}" ></span></td>
                                                <td><span class="reducedfrom" th:text="${users.username}" ></span></td>
                                                <td><span class="reducedfrom" th:text="${users.userperm}" ></span></td>
												<td><span class="reducedfrom" th:text="${users.question}" ></span></td>
												<td><span class="reducedfrom" th:text="${users.answer}" ></span></td>
												<td th:if="${session.user.permissions==1}"><a th:onclick="'javascript:del(\''+${users.userid}+'\');'">删除</a>&nbsp;&nbsp;&nbsp;<a th:href="@{/usersupdate(userid=${users.userid})}">修改</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                            <div style="margin: 0 auto; width: 200px;">
                            <nav aria-label="Page navigation">
							<ul class="pagination">
								<li>
								<a th:href="@{/userfuzzy(sta=${sta},name=${name})}" aria-label="Previous"> 
								<span aria-hidden="true">&laquo;</span>
								</a>
								</li>
								<li th:each="i : ${#numbers.sequence(sta, end)}">
								<a th:href="@{/userfuzzy(newpaging=${i},name=${name})}"  >
								<span  th:text="${i}"></span>
								</a>
								</li>
								<li><a th:href="@{/userfuzzy(end=${end},name=${name})}" aria-label="Next"> 
								<span aria-hidden="true">&raquo;</span>
								</a>
								</li>
							</ul>
						    </nav>
                            </div>
                            </div>
                        </div>
                            </div>
                        </div>
                </div>
                <!-- /. ROW  -->
			

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="js/bootstrap.min.js"></script>	 
    <!-- Metis Menu Js -->
    <script src="js/jquery.metisMenu.js"></script>
	
	
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	
	 <script src="js/Lightweight-Chart/jquery.chart.js"></script>
	
    <!-- Custom Js -->
    <script src="js/custom-scripts.js"></script>

      <script>
      function del(userid){
    	  var r = confirm("确定要删除吗？");
    	  if(r == true){
    	  window.location.href="/userdel?userid="+userid;
    	  }else{
    	  return false;
    	  }
    	  }
      </script>

</body>

</html>