<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cssmoban</title>
    <!-- Bootstrap Styles-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->

    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="js/Lightweight-Chart/cssCharts.css"> 
</head>

<body style="padding:10px">
    <div id="wrapper">


        <!-- /. NAV SIDE  -->
      
		<div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
                             <small>加速器</small>
                        </h1>								
		          </div>				
                    <form   method="post" enctype="multipart/form-data" id="formid">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="table-responsive">		
								<input type="hidden" th:value="${raydid.raid}" name="raid" id="raid"/>
								<input type="button" class="btn btn-default"  value="保存" onclick="submitFunction()">
								<div id="index" style="text-align:center;color:red"></div>
                                    <table class="table table-striped table-bordered table-hover" id = "test">
                                        <thead>
										 <thead>									
                                            <tr>
                                                <th>名称型号</th>
                                                <th>生产厂家</th>
                                                <th>加速离子</th>
												<th>能量（MeV）</th>
												<th>流强（μA）</th>
												<th>用途</th>
												<th>备注</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="text" class="form-control" th:value="${rayd.xaccelerator.acmodel}" placeholder="" name="acmodel" ></td>
												<td><input type="text" class="form-control" th:value="${rayd.xaccelerator.acmanufacturer}" placeholder="" name="acmanufacturer" ></td>
												<td><input type="text" class="form-control" th:value="${rayd.xaccelerator.acion}" placeholder="" name="acion" ></td>
												<td><input type="text" class="form-control" th:value="${rayd.xaccelerator.acenergy}" placeholder="" name="acenergy" ></td>
												<td><input type="text" class="form-control" th:value="${rayd.xaccelerator.acstrong}" placeholder="" name="acstrong" ></td>
												<td><input type="text" class="form-control" th:value="${rayd.xaccelerator.acuse}" placeholder="" name="acuse" ></td>
												<td><input type="text" class="form-control" th:value="${rayd.xaccelerator.acnote}" placeholder="" name="acnote" ></td>
                                            </tr>
                                        </tbody>
									    <thead>									
                                            <tr>
                                                <th>废物类型</th>
                                                <th colspan="2">数量</th>
                                                <th>总活度（Bq）</th>
												<th colspan="2">主要感生放射性</th>
												<th>废物去向</th>
                                            </tr>
                                        </thead>
										<tbody>
                                            <tr>
                                                <td><input type="text" class="form-control" th:value="${rayd.xaccelerator.acwaste}" placeholder="" name="acwaste" ></td>
												<td colspan="2"><input type="text" class="form-control" th:value="${rayd.xaccelerator.acwastenum}" placeholder="" name="acwastenum" ></td>
												<td><input type="text" class="form-control" th:value="${rayd.xaccelerator.acwasteactivity}" placeholder="" name="acwasteactivity" ></td>
												<td colspan="2"><input type="text" class="form-control" th:value="${rayd.xaccelerator.acradioactive}" placeholder="" name="acradioactive" ></td>
												<td ><input type="text" class="form-control" th:value="${rayd.xaccelerator.acwastewhere}" placeholder="" name="acwastewhere" ></td>
                                            </tr>
                                       
										
                                            <tr >
                                                <th rowspan="3">放射性废物年产生量</th>
												<td colspan="2"><input type="text" class="form-control" th:value="${rayd.xaccelerator.acgasnum}" placeholder="气态(m3)" name="acgasnum" ></td>
												<td><input type="text" class="form-control" th:value="${rayd.xaccelerator.acgasactivity}" placeholder="" name="acgasactivity" ></td>
												<td colspan="2"><input type="text" class="form-control" th:value="${rayd.xaccelerator.acgasradioactive}" placeholder="" name="acgasradioactive" ></td>
												<td ><input type="text" class="form-control" th:value="${rayd.xaccelerator.acgaswhere}" placeholder="" name="acgaswhere" ></td>
                                            </tr>
                                        
										
                                            <tr>
                                                
												<td colspan="2"><input type="text" class="form-control" th:value="${rayd.xaccelerator.acliquidnum}" placeholder="液态(m3)" name="acliquidnum" ></td>
												<td><input type="text" class="form-control" th:value="${rayd.xaccelerator.acliquidactivity}" placeholder="" name="acliquidactivity" ></td>
												<td colspan="2"><input type="text" class="form-control" th:value="${rayd.xaccelerator.acliquidradioactive}" placeholder="" name="acliquidradioactive" ></td>
												<td ><input type="text" class="form-control" th:value="${rayd.xaccelerator.acliquidwhere}" placeholder="" name="acliquidwhere" ></td>
                                            </tr>
                                        
										
                                            <tr>
                                               
												<td colspan="2"><input type="text" class="form-control" th:value="${rayd.xaccelerator.acliquidnactivityumber}" placeholder="固态(kg)" name="acliquidnactivityumber" ></td>
												<td><input type="text" class="form-control" th:value="${rayd.xaccelerator.acsolidactivity}" placeholder="" name="acsolidactivity" ></td>
												<td colspan="2"><input type="text" class="form-control" th:value="${rayd.xaccelerator.acsolidradioactive}" placeholder="" name="acsolidradioactive" ></td>
												<td ><input type="text" class="form-control" th:value="${rayd.xaccelerator.acsolidwhere}" placeholder="" name="acsolidwhere" ></td>
                                            </tr>
										     <tr>
                                                <th colspan="2">投入使用时间</th>
                                                <th colspan="2">楼宇</th>
                                                <th colspan="3">房间信息</th>
                                            </tr>
										    <tr>
												<td colspan="2"><input type="date" class="form-control" th:value="${rayd.xaccelerator.acusetime}" placeholder="" name="acusetime" ></td>
												<td colspan="2"><input type="text" class="form-control" th:value="${rayd.xaccelerator.acbuilding}" placeholder="" name="acbuilding" ></td>
												<td colspan="3"><input type="text" class="form-control" th:value="${rayd.xaccelerator.acroom}" placeholder="" name="acroom" ></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                         </form>
											
					 <div class="panel panel-default">
                        </div>

                </div>
				
                <!-- /. ROW  -->
			

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="js/bootstrap.min.js"></script>
	 
    <!-- Metis Menu Js -->
    <script src="js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="js/morris/raphael-2.1.0.min.js"></script>
    <script src="js/morris/morris.js"></script>
	
	
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	
	 <script src="js/Lightweight-Chart/jquery.chart.js"></script>
	
    <!-- Custom Js -->
    <script src="js/custom-scripts.js"></script>
      <script>
      
      
      function submitFunction() {
  	    //这里唯一需要注意的就是这个form-add的id
  	    var prid = $("#prid");
  	    var formData = new FormData($("#formid")[0]);
  	    $.ajax({
  	        //接口地址
  	        url: '/accepost',
  	        type: 'POST',
  	        data: formData,
  	        async: false,
  	        cache: false,
  	        contentType: false,
  	        processData: false,
  	        success: function (data) {
  	            //成功的回调
  	            if(data== 1){
                      alert("保存成功");
                      window.location.href='/xraydall';//
  	            }else if(data== 2){
  	            	$("#index").html("请检测数量格式是否正确");
  	            }else if(data== 3){
  	            	$("#index").html("请填写日期");
  	            }
  	        },
  	        error: function (returndata) {
  	           //请求异常的回调
  	           modals.warn("网络访问失败，请稍后重试!");
  	        }
  	    });
  	    }
      </script>

</body>

</html>