<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cssmoban</title>
    <!-- Bootstrap Styles-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->

    <!-- Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="js/Lightweight-Chart/cssCharts.css"> 
</head>

<body style="padding:10px">
    <div id="wrapper">


        <!-- /. NAV SIDE  -->
      
		<div id="page-wrapper">
		  <div class="header"> 
                        <h1 class="page-header">
                             <small>非密封放射性物质详情</small>
                        </h1>								
		          </div>				
                    <form   method="post" enctype="multipart/form-data" id="formid">
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="table-responsive">		
								<input type="hidden" th:value="${nonsid.noid}" name="noid" id="noid"/>
								<div id="index" style="text-align:center;color:red"></div>
								
                                   <table class="table table-striped table-bordered table-hover" >
                                        <thead>
										 <thead>									
                                            <tr>
                                                <th>楼宇</th>
                                                <th>楼层</th>
                                                <th>房间信息</th>
												<th>场所等级</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span class="reducedfrom"  th:text="${nons.nobuiding}"></span></td>
												<td><span class="reducedfrom"  th:text="${nons.nofloor}"></span></td>
												<td><span class="reducedfrom"  th:text="${nons.noroomid}"></span></td>
												<td><span class="reducedfrom"  th:text="${nons.nolevel}"></span></td>						
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-striped table-bordered table-hover" id = "test">
                                        <thead>
										 <thead>									
                                            <tr>
                                                <th>核素名称</th>
                                                <th>理化性质</th>
                                                <th>来源方式</th>
												<th>日最大操作量</th>
												<th>年最大操作量</th>
												<th>操作方式</th>
												<th>操作修正因子</th>
												<th>毒性修正因子</th>
												<th>用途</th>
												<th>贮存方式</th>
												<th>贮存地点</th>
												<th>日等效最大操作量</th>
												<th>日操作量是否超出限值</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="nons:${nonsall}">
                                                <td><span  class="reducedfrom" th:text="${nons.roomnuclide.roname}"   ></span></td>
												<td><span  class="reducedfrom" th:text="${nons.roomnuclide.rochemical}"   ></span></td>
												<td><span  class="reducedfrom" th:text="${nons.roomnuclide.roway}"   ></span></td>
												<td><span  class="reducedfrom" th:text="${nons.roomnuclide.roquantity}" ></span></td>
												<td><span  class="reducedfrom" th:text="${nons.roomnuclide.royear}"   ></span></td>
												<td><span  class="reducedfrom" th:text="${nons.roomnuclide.rooperation}" ></span></td>
												<td><span  class="reducedfrom" th:text="${nons.roomnuclide.rocorrection}"   ></span></td>
												<td><span  class="reducedfrom" th:text="${nons.roomnuclide.rotoxicity}"   ></span></td>
												<td><span  class="reducedfrom" th:text="${nons.roomnuclide.rouse}"   ></span></td>
												<td><span  class="reducedfrom" th:text="${nons.roomnuclide.rostorageway}" ></span></td>
												<td><span  class="reducedfrom" th:text="${nons.roomnuclide.rostorage}"   ></span></td>
												<td><span  class="reducedfrom" th:text="${nons.roomnuclide.robiggest}"  ></span></td>
												<td><span  class="reducedfrom" text=""  ></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    

                                </div>
                            </div>
                        </div>
						<!-- 就是加个注释 -->
								<div id="page-wrapper">
                 <input type="button" class="btn btn-default"  value="提交安全措施表" onclick="submitFunction()">	
			 				<div class="panel-heading">
                                                               辐射安全防护措施表 嗯，等下
                             </div>
							 <table class="table table-striped table-bordered table-hover" id = "test">
                                        <thead>
										 <thead>									
                                            <tr th:each="issaf:${issafet}">
                                                <td><span class="reducedfrom" th:text="${issaf.xauxiliary.auname}"></span><a th:href="@{/onpage(page=${issaf.xauxiliary.ausecurity})}">下载文件</a><input type="file" class="form-control" th:name="${issaf.xauxiliary.auserial}"/></td>
                                            </tr>
                              </thead>

                              </table>
                              </div>
						
                         </form>
											
					 <div class="panel panel-default">
                        </div>

                </div>
				
                <!-- /. ROW  -->
			

            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="js/bootstrap.min.js"></script>
	 
    <!-- Metis Menu Js -->
    <script src="js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="js/morris/raphael-2.1.0.min.js"></script>
    <script src="js/morris/morris.js"></script>
	
	
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	
	 <script src="js/Lightweight-Chart/jquery.chart.js"></script>
	
    <!-- Custom Js -->
    <script src="js/custom-scripts.js"></script>
      <script>
  $("#btn1").click(function() {
  var str="<tr>";
   str+="<td><input type='text' class='reducedfrom'   name='raname' ></td>";
   str+="<td><input type='text' class='reducedfrom'   name='radosage' ></td>";
   str+="<td><input type='text' class='reducedfrom'   name='raphysical' ></td>";
   str+="<td><input type='text' class='reducedfrom'   name='raquantity' ></td>";
   str+="<td><input type='text' class='reducedfrom'   name='rayears' ></td>";
   str+="<td><input type='text' class='reducedfrom'   name='raway' ></td>";
   str+="<td><input type='text' class='reducedfrom'   name='raplace' ></td>";
   str+="<td><input type='text' class='reducedfrom'   name='racountry' ></td>";
   str+="</tr>";
   $("#test tbody").prepend(str);
});
	  
	  
	  
	  
      
      function submitFunction() {
  	    //这里唯一需要注意的就是这个form-add的id
  	    var noid = $("#noid");
  	    var formData = new FormData($("#formid")[0]);
  	    $.ajax({
  	        //接口地址
  	        url: '/nooupsafet',
  	        type: 'POST',
  	        data: formData,
  	        async: false,
  	        cache: false,
  	        contentType: false,
  	        processData: false,
  	        success: function (data) {
  	            //成功的回调
  	            if(data== 1){
                      alert("保存成功");
                      window.location.href='/nodetails?type='+noid.val();//
  	            }else if(data== 2){
  	            	$("#index").html("");
  	            }else if(data== 3){
  	            	$("#index").html("");
  	            }
  	        },
  	        error: function (returndata) {
  	           //请求异常的回调
  	           modals.warn("网络访问失败，请稍后重试!");
  	        }
  	    });
  	    }
      </script>

</body>

</html>